.modal {
  position: fixed;
  top: 0;
  width: 624px;
  left: calc(50vw - 312px);
  // min-height: 327px;
  z-index: 3;
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 24px 24px;
  opacity: 0;
  transform: translateY(-400px);
  transition: all 0.2s ease-in-out;

  // max-height: 80vh;

  @media (max-width: 700px) {
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;

    transform: translateY(-100vh);
    border-radius: 0;
  }
}

.modal.active {
  opacity: 1;
  transform: translateY(0);
}

.basket {
  @media (max-width: 700px) {
    width: 100%;
  }

  .close {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: #e07153;

    @media (max-width: 700px) {
      display: block;
    }
  }

  .content {
    padding: 20px;
    margin-bottom: 100px;
    max-height: calc(80vh - 100px);
    overflow: auto;

    @media (max-width: 700px) {
      max-height: calc(100vh - 150px);
    }

    .basket_null {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // transform: translateY(calc(50vh - 100px));

      @media (max-width: 700px) {
        max-height: calc(100vh - 150px);
        transform: translateY(calc(50vh - 100px)) translateX(calc(50vw - 122px));
        position: absolute;
      }
    }

    &::-webkit-scrollbar {
      position: absolute;
      right: 0;
      top: 0;
      width: 5px;
      // background: #000;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba($color: #000000, $alpha: 0);
      border-radius: 50px;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: rgba($color: #000000, $alpha: 0.23);
      }
    }

    img {
      width: 80px;
      height: 80px;
    }

    h2 {
      font-weight: 600;
    }
  }

  .buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #e2e1e1;

    @media (max-width: 700px) {
      flex-direction: column;
      width: 100%;
      left: 0;
      right: 0;
    }

    .count {
      font-size: 20px;
    }

    .btn {
      // width: 216px;
      font-size: 16px;
    }
  }
}
