.burger_menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 3;
  height: 100%;

  transform: scale(0);
  transition: all 0.2s ease-in-out;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .close {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    color: #e07153;
    font-size: 35px;
  }

  &.active {
    transform: scale(1);
    opacity: 1;
  }

  .content {
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;
    }

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        font-size: 20px;
        text-align: center;
      }
    }

    .tel {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background: #f5f5f5;
      padding: 10px;
      border-radius: 10px;
      margin-top: 60px;

      span {
        display: flex;
        gap: 15px;
        align-items: center;

        .icon {
          color: #e07153;
        }
      }
    }
  }
}
