.container {
  max-width: 1224px;
  margin: 0 auto;
  padding-top: 20px;

  @media (max-width: 1200px) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media (max-width: 800px) {
    padding-right: 10px;
    padding-left: 10px;
  }

  h1 {
    font-weight: 600;
    font-size: 35px;
  }

  .zone_info {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      gap: 20px;
      justify-content: center;
    }

    .zone_green,
    .zone_yellow {
      display: flex;
      align-items: center;
      gap: 20px;

      @media (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
      }

      @media (max-width: 800px) {
        flex-direction: row;
        text-align: start;
      }

      @media (max-width: 600px) {
        flex-direction: column;
        text-align: center;
      }

      h3 {
        font-size: 26px;
        font-weight: 600;
      }

      p {
        font-size: 18px;
      }
    }

    .zone_green {
      h3 {
        color: #7e9e1e;
      }
    }
    .zone_yellow {
      h3 {
        color: #f1c400;
      }
    }
  }

  .information {
    margin-top: 20px;

    h2 {
      font-size: 22px;
      display: flex;
      gap: 10px;

      img {
        transform: translateY(-3px);
      }
    }

    p {
      margin-top: 20px;
      font-size: 18px;
    }
  }

  .payment {
    margin-top: 20px;

    h1 {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        transform: translateY(-20px);
      }
    }

    p {
      margin-top: 20px;
      font-size: 18px;
    }
  }
}
