.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;

  .not_found {
    @media (max-width: 900px) {
      img {
        width: 500px;
      }
    }
    @media (max-width: 500px) {
      img {
        width: 300px;
      }
    }
  }

  .content {
    text-align: center;

    .btn {
      margin-top: 20px;
      height: 50px;
      width: 250px;
    }
  }
}
