.container {
  max-width: 1224px;
  margin: 0 auto;
  padding-top: 50px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    padding: 0 200px;
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    padding: 0 100px;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    padding: 0 0;
  }

//   .cards {
//     @media (max-width: 1200px) {
//       max-height: 600px;
//       overflow: auto;

//       &::-webkit-scrollbar {
//         position: absolute;
//         right: 0;
//         top: 0;
//         width: 5px;
//         // background: #000;
//       }

//       &::-webkit-scrollbar-thumb {
//         background: rgba($color: #000000, $alpha: 0);
//         border-radius: 50px;
//       }

//       &:hover {
//         &::-webkit-scrollbar-thumb {
//           background: rgba($color: #000000, $alpha: 0.23);
//         }
//       }
//     }
//   }

  .input {
    width: 100%;
    height: 48px;
    border: 0;
    padding: 0 16px;
    font-size: 16px;
    outline: none;
  }

  .order {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .cont {
      background: #f5f5f5;
      padding: 25px;
    }

    .contact_details,
    .shipping_options,
    .payment_options,
    .last_step {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 22px;
        font-weight: 600;
      }

      .label {
        position: relative;
        display: flex;
        gap: 10px;
        width: 100%;
      }

      p {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 16px;
      }

      .icon {
        font-size: 35px;
        color: #e07153;
        transform: translateY(-1px);
      }

      .payment {
        display: flex;
        gap: 20px;
      }

      .order_price {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
        border-top: 2px solid #e2e1e1;
        border-bottom: 2px solid #e2e1e1;
        padding: 20px 0;

        .price,
        .delivery {
          display: flex;
          justify-content: space-between;
        }
      }

      .promo {
        padding-top: 10px;
        padding-bottom: 20px;
        border-bottom: 2px solid #e07153;
        display: flex;
        gap: 30px;

        .label {
          display: flex;
          width: 100%;
          height: 48px;
          border: 3px dashed #e2e1e1;

          input {
            padding: 0 16px;
            font-size: 16px;
            width: 80%;
            border: 0;
            background: transparent;
            outline: none;

            &::placeholder {
              opacity: 1;
            }
          }

          div {
            width: 20%;
            display: flex;
            justify-content: center;
            color: #e07153;
            align-items: center;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      .total_order_amount {
        display: flex;
        flex-direction: column;

        .price {
          display: flex;
          justify-content: space-between;
          font-size: 24px;
          padding: 20px 20px;
        }

        textarea {
          height: 90px;
          resize: none;
          border: 0;
          padding: 16px;
          outline: none;
        }
      }

      button {
        height: 50px;
        border-radius: 2px;
        font-size: 20px;
      }
    }
  }
}
