.container {
  max-width: 1224px;
  margin: 0 auto;

  .line {
    border-bottom: 1px solid #e2e1e1;
    margin-top: 53px;
  }
}

.loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  background: rgba($color: #000000, $alpha: 0.2);
}
