.card {
  padding: 24px 0;
  border-bottom: 1px solid #e2e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .title {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;

    img {
      width: 100px;
      height: 65px;
    }

    .h2 {
      font-size: 18px;
    }

    .product_info {
      display: flex;
      gap: 5px;
      align-items: center;
      font-size: 16px;

      .h3 {
        color: #e07153;
      }

      .icon {
        color: #e07153;
        font-size: 8px;
      }
    }
  }

  .info {
    display: flex;
    align-items: center;
    font-size: 18px;

    .count {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border: 1px solid #e2e1e1;
      border-radius: 8px;
    }

    .price {
      width: 120px;
      text-align: center;
    }

    .delete {
      display: flex;
      align-items: center;
      color: #e07153;
      font-size: 30px;
      cursor: pointer;
    }
  }
}
