.header {
  position: relative;

  @media (max-width: 1200px) {
    padding: 0 20px;
  }

  .container {
    max-width: 1224px;
    margin: 0 auto;
    display: flex;

    .logo {
      display: flex;
      align-items: center;

      cursor: pointer;

      img {
        width: 134px;
        height: 130px;
      }

      @media (max-width: 700px) {
        display: none;
      }
    }
  }

  .top {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .list {
      display: flex;
      list-style: none;

      li {
        margin: 0 20px;
        cursor: pointer;

        p {
          transition: all 0.2s;
          @media (min-width: 800px) {
            &:hover {
              opacity: 0.5;
            }
          }

          a {
            text-decoration: none;
            color: #1b1b1b;
          }
        }
      }
    }

    .burger_menu {
      font-size: 40px;
      display: none;
      align-items: center;
      margin-right: 300px;
      margin-left: 40px;
      cursor: pointer;
      user-select: none;

      transition: all 0.2s ease-in-out;

      &.active {
        transform: rotate(90deg);
      }
    }

    @media (max-width: 1200px) {
      .list {
        display: none;
      }

      .burger_menu {
        display: flex;
      }
    }

    @media (max-width: 950px) {
      .burger_menu {
        margin-right: 0;
        margin-left: 40px;
      }
    }

    @media (max-width: 700px) {
      .burger_menu {
        margin-left: 0;
      }
    }

    .tel {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media (max-width: 500px) {
        display: none;
      }

      .icon {
        transform: translateY(2px);
        color: #e07153;
      }

      span {
        font-weight: 500;

        a {
          margin-left: 5px;
          text-decoration: none;
        }
      }

      .datetime {
        font-weight: normal;
        opacity: 0.5;
      }
    }

    .user {
      height: 48px;
      width: 48px;
      background: #f5f5f5;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      cursor: pointer;
    }
  }

  .down {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      background: #f5f5f5;
      top: 80px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }

    ul {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      @media (max-width: 700px) {
        justify-content: center;
        padding: 0;
      }

      li {
        list-style: none;
        cursor: pointer;
        transform: translateY(5px);

        @media (min-width: 700px) {
          transition: all 0.2s ease;

          &:hover {
            transform: scale(1.05) translateY(5px);
          }
        }
      }
    }
  }
}
